html, body {
  position: relative;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fff7bf;
}

footer {
  margin-top: auto;
}

img {
  max-width:100%;
  height:auto;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height:100%;
}

.post {
  background: $white;
  border: solid black 3px;
}
